# المنفذ المحلي (افتراضي 8080)
PORT=8080

# رابط موقعك العام على استضافة Render (مثال: https://my-digital-store.onrender.com)
BASE_URL=

# توكن بوت التيليجرام من @BotFather
TELEGRAM_BOT_TOKEN=

# معرّف حساب المدير الرقمي من @userinfobot لاستقبال إشعارات الطلبات الفورية
TELEGRAM_ADMIN_CHAT_ID=

# مفتاح API أرقام التفعيل
HERO_SMS_KEY=f144cA86391f362758c129f14dc33fc9
